<nav class="menu col-1" style="height: 100%">
    <ul class="items">
        <li class="item">
            <a href="{% url 'global_chet' %}"> <i class="fas fa-globe-europe" aria-hidden="true"></i></a>
        </li>

{#        <li class="item">#}
{#            <a href="{% url 'chat_list' %}"> <i class="fas fa-comments" aria-hidden="true"></i></a>#}
{##}
{#        </li>#}
{#        <li class="item">#}
{#            <a href="{% url 'friend_list' %}"><i class="fas fa-user-friends" aria-hidden="true"></i></a>#}
{#        </li>#}
{#        <!-- <li class="item">#}
{#          <i class="fas fa-pencil-alt" aria-hidden="true"></i>#}
{#        </li> -->#}
{##}
{#        <!-- <li class="item">#}
{#          <i class="fa fa-file" aria-hidden="true"></i>#}
{#        </li> -->#}
{#        <li class="item">#}
{#            <a href="{% url 'settings' %}"><i class="fa fa-cog" aria-hidden="true"></i></a>#}
{#        </li>#}
    </ul>
    <ul class="items">
        <li class="item">
            <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a>
        </li>
    </ul>
</nav>